.Navbar {
    width: 100%;
    padding: 0;
    color: black;
    height: 50px;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: white;
    /* background-color: darkslategray; */
}

.Navbar ul {
    margin-right: 75px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.Navbar li {
    padding: 20px 20px 15px 20px;
}

.Navbar a {
    color: black;
    text-decoration: none;
}

.Navbar a:visited {
    color: black;
    text-decoration: none;
}